body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:83px;
  width:1229px;
  height:255px;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:109px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:0px;
  width:109px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:0px;
  width:110px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:50px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:45px;
  width:150px;
  height:50px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:45px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:45px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:45px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:45px;
  width:110px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:100px;
  height:50px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:95px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:95px;
  width:150px;
  height:50px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:95px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:95px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:95px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:95px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:95px;
  width:110px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:100px;
  height:55px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:145px;
  width:109px;
  height:55px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:145px;
  width:150px;
  height:55px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:145px;
  width:200px;
  height:55px;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:145px;
  width:80px;
  height:55px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:145px;
  width:111px;
  height:55px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:145px;
  width:100px;
  height:55px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:145px;
  width:80px;
  height:55px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:145px;
  width:80px;
  height:55px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:145px;
  width:109px;
  height:55px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:55px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:145px;
  width:110px;
  height:55px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:55px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:200px;
  width:109px;
  height:55px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:200px;
  width:150px;
  height:55px;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:200px;
  width:200px;
  height:55px;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:200px;
  width:80px;
  height:55px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:200px;
  width:111px;
  height:55px;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:200px;
  width:100px;
  height:55px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:200px;
  width:80px;
  height:55px;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:200px;
  width:80px;
  height:55px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:200px;
  width:109px;
  height:55px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:55px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:200px;
  width:110px;
  height:55px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
