body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1337px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:1210px;
  height:1337px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
