body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:65px;
  width:800px;
  height:396px;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:51px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:500px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:45px;
  width:100px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:45px;
  width:200px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:500px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:96px;
  width:100px;
  height:50px;
  color:#666666;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:96px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:500px;
  height:55px;
  color:#666666;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:146px;
  width:100px;
  height:55px;
  color:#666666;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:146px;
  width:200px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:500px;
  height:55px;
  color:#666666;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:201px;
  width:100px;
  height:55px;
  color:#666666;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:201px;
  width:200px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:70px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:500px;
  height:70px;
  color:#666666;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:256px;
  width:100px;
  height:70px;
  color:#666666;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:256px;
  width:200px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:70px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:500px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:496px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:326px;
  width:100px;
  height:70px;
  color:#666666;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:326px;
  width:200px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:19px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:322px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:139px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u268 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:521px;
  width:800px;
  height:139px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:780px;
  word-wrap:break-word;
}
