body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1166px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:800px;
  height:1166px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
