body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:865px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:86px;
  top:2012px;
  width:779px;
  height:667px;
}
#u766 {
  position:absolute;
  left:2px;
  top:326px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:86px;
  top:1187px;
  width:779px;
  height:346px;
}
#u768 {
  position:absolute;
  left:2px;
  top:165px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:86px;
  top:1531px;
  width:779px;
  height:242px;
}
#u770 {
  position:absolute;
  left:2px;
  top:113px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:86px;
  top:843px;
  width:779px;
  height:346px;
}
#u772 {
  position:absolute;
  left:2px;
  top:165px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:86px;
  top:499px;
  width:779px;
  height:346px;
}
#u774 {
  position:absolute;
  left:2px;
  top:165px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:86px;
  top:17px;
  width:779px;
  height:484px;
}
#u776 {
  position:absolute;
  left:2px;
  top:234px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:250px;
}
#u777 {
  position:absolute;
  left:307px;
  top:64px;
  width:309px;
  height:250px;
}
#u778 {
  position:absolute;
  left:2px;
  top:117px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u779 {
  position:absolute;
  left:239px;
  top:331px;
  width:481px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
  background:inherit;
  background-color:rgba(1, 131, 131, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:14px;
}
#u781 {
  position:absolute;
  left:395px;
  top:423px;
  width:133px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:14px;
}
#u781_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
  background:inherit;
  background-color:rgba(1, 131, 131, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:14px;
}
#u781.mouseOver {
  opacity:0.8;
}
#u781_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:14px;
}
#u781.disabled {
}
#u782 {
  position:absolute;
  left:14px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:162px;
}
#u783 {
  position:absolute;
  left:96px;
  top:610px;
  width:759px;
  height:162px;
}
#u784 {
  position:absolute;
  left:2px;
  top:73px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:215px;
}
#u785 {
  position:absolute;
  left:102px;
  top:889px;
  width:748px;
  height:215px;
}
#u786 {
  position:absolute;
  left:2px;
  top:100px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:46px;
}
#u787 {
  position:absolute;
  left:389px;
  top:1137px;
  width:466px;
  height:46px;
}
#u788 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:46px;
}
#u789 {
  position:absolute;
  left:389px;
  top:792px;
  width:466px;
  height:46px;
}
#u790 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:46px;
}
#u791 {
  position:absolute;
  left:384px;
  top:1721px;
  width:466px;
  height:46px;
}
#u792 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  position:absolute;
  left:86px;
  top:1771px;
  width:779px;
  height:242px;
}
#u794 {
  position:absolute;
  left:2px;
  top:113px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u795 {
  position:absolute;
  left:227px;
  top:1836px;
  width:481px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:46px;
}
#u797 {
  position:absolute;
  left:389px;
  top:1960px;
  width:466px;
  height:46px;
}
#u798 {
  position:absolute;
  left:2px;
  top:15px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:53px;
}
#u799 {
  position:absolute;
  left:410px;
  top:1884px;
  width:106px;
  height:53px;
}
#u800 {
  position:absolute;
  left:2px;
  top:18px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:32px;
}
#u801 {
  position:absolute;
  left:184px;
  top:378px;
  width:613px;
  height:32px;
  text-align:center;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:159px;
}
#u803 {
  position:absolute;
  left:92px;
  top:1233px;
  width:767px;
  height:159px;
}
#u804 {
  position:absolute;
  left:2px;
  top:72px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:146px;
}
#u805 {
  position:absolute;
  left:204px;
  top:1551px;
  width:380px;
  height:146px;
}
#u806 {
  position:absolute;
  left:2px;
  top:65px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:64px;
}
#u807 {
  position:absolute;
  left:248px;
  top:1559px;
  width:292px;
  height:64px;
  font-size:20px;
}
#u808 {
  position:absolute;
  left:2px;
  top:20px;
  width:288px;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:488px;
}
#u809 {
  position:absolute;
  left:249px;
  top:2036px;
  width:453px;
  height:488px;
}
#u810 {
  position:absolute;
  left:2px;
  top:236px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:66px;
}
#u811 {
  position:absolute;
  left:173px;
  top:2542px;
  width:613px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
}
#u813 {
  position:absolute;
  left:404px;
  top:2618px;
  width:127px;
  height:46px;
}
#u814 {
  position:absolute;
  left:2px;
  top:15px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
