body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1617px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:123px;
  width:1602px;
  height:208px;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:45px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:102px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:0px;
  width:60px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:0px;
  width:140px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:40px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#12CCB3;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:58px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:45px;
  width:102px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:45px;
  width:200px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:58px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:45px;
  width:120px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:45px;
  width:100px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:45px;
  width:200px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:45px;
  width:60px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:58px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:45px;
  width:140px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:58px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:45px;
  width:80px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:40px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#12CCB3;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:50px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:103px;
  width:102px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:98px;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:103px;
  width:200px;
  height:50px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:103px;
  width:120px;
  height:50px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:103px;
  width:100px;
  height:50px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:103px;
  width:200px;
  height:50px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:103px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:103px;
  width:60px;
  height:50px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:103px;
  width:140px;
  height:50px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:103px;
  width:80px;
  height:50px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:55px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:40px;
  height:55px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:153px;
  width:102px;
  height:55px;
  color:#4DCEBF;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:153px;
  width:80px;
  height:55px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:153px;
  width:80px;
  height:55px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:153px;
  width:80px;
  height:55px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:153px;
  width:200px;
  height:55px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:153px;
  width:120px;
  height:55px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:153px;
  width:100px;
  height:55px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:153px;
  width:200px;
  height:55px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:153px;
  width:80px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:153px;
  width:60px;
  height:55px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:153px;
  width:140px;
  height:55px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:1522px;
  top:153px;
  width:80px;
  height:55px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:86px;
  width:66px;
  height:29px;
  color:#FFFFFF;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:86px;
  width:66px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:136px;
  width:40px;
  height:16px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:185px;
  width:40px;
  height:16px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:245px;
  width:40px;
  height:16px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:295px;
  width:40px;
  height:16px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:86px;
  width:80px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
