body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:70px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:49px;
  width:199px;
  height:70px;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:142px;
  width:825px;
  height:277px;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:44px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:275px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:271px;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:0px;
  width:400px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:44px;
  width:275px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:271px;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:44px;
  width:400px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:91px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:150px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:146px;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:91px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:74px;
  width:275px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:91px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:74px;
  width:400px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:150px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:146px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:112px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:165px;
  width:275px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:271px;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:112px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:165px;
  width:400px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:396px;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:44px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:113px;
  width:5px;
  height:29px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
