body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:83px;
  width:1229px;
  height:255px;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:109px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:0px;
  width:109px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:0px;
  width:110px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  height:50px;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:45px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:45px;
  width:150px;
  height:50px;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:45px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:45px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:45px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:45px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:45px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:45px;
  width:110px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:100px;
  height:50px;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:95px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:95px;
  width:150px;
  height:50px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:95px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:95px;
  width:111px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:95px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:95px;
  width:80px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:95px;
  width:109px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:95px;
  width:110px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#4DCEBF;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:100px;
  height:55px;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:145px;
  width:109px;
  height:55px;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:145px;
  width:150px;
  height:55px;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:145px;
  width:200px;
  height:55px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:145px;
  width:80px;
  height:55px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:145px;
  width:111px;
  height:55px;
}
#u2502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:145px;
  width:100px;
  height:55px;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:145px;
  width:80px;
  height:55px;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:145px;
  width:80px;
  height:55px;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:145px;
  width:109px;
  height:55px;
}
#u2506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:55px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:145px;
  width:110px;
  height:55px;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:100px;
  height:55px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:200px;
  width:109px;
  height:55px;
}
#u2509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:200px;
  width:150px;
  height:55px;
}
#u2510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:200px;
  width:200px;
  height:55px;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  word-wrap:break-word;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:200px;
  width:80px;
  height:55px;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:55px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:200px;
  width:111px;
  height:55px;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:200px;
  width:100px;
  height:55px;
}
#u2514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:200px;
  width:80px;
  height:55px;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:55px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:200px;
  width:80px;
  height:55px;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u2517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:55px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:200px;
  width:109px;
  height:55px;
}
#u2517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:55px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:200px;
  width:110px;
  height:55px;
}
#u2518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  word-wrap:break-word;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:18px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
