body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:997px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:11px;
  width:1000px;
  height:997px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
