body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:696px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:83px;
  width:490px;
  height:696px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:46px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:20px;
  width:350px;
  height:46px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:559px;
  width:387px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:94px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:779px;
  width:5px;
  height:79px;
  color:#FF0000;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:513px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:858px;
  width:496px;
  height:513px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:326px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:1045px;
  width:685px;
  height:326px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:823px;
  width:307px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1121px;
  width:343px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:726px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1450px;
  width:1117px;
  height:726px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:225px;
  height:31px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1244px;
  width:210px;
  height:5px;
  color:#FF0000;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:94px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:1371px;
  width:5px;
  height:79px;
  color:#FF0000;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1743px;
  width:329px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:49px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1684px;
  width:487px;
  height:49px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:467px;
  word-wrap:break-word;
}
