body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:65px;
  width:800px;
  height:396px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:51px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:500px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:45px;
  width:100px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:45px;
  width:200px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:500px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:496px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:96px;
  width:100px;
  height:50px;
  color:#666666;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:96px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:500px;
  height:55px;
  color:#666666;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:146px;
  width:100px;
  height:55px;
  color:#666666;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:146px;
  width:200px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:500px;
  height:55px;
  color:#666666;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:201px;
  width:100px;
  height:55px;
  color:#666666;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:201px;
  width:200px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:70px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:500px;
  height:70px;
  color:#666666;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:496px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:256px;
  width:100px;
  height:70px;
  color:#666666;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:256px;
  width:200px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:70px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:500px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:496px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:326px;
  width:100px;
  height:70px;
  color:#666666;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:326px;
  width:200px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(77, 206, 191, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:19px;
  width:82px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:322px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:318px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:139px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u249 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:521px;
  width:800px;
  height:139px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:780px;
  word-wrap:break-word;
}
